body {
  margin: 0;
  padding: 0;
  background-color: #E4E9EF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100vh;
}

p a {
  color: #A087BC;
}

nav {
  background-color: #A087BC;
  padding: 10px;
  position: flex;
  width: auto;
  top: 0;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline;
}

li:not(:last-child) {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.despre {
  text-align: center;
  padding: 50px;
  color: #A087BC;

}

.h1 {
  color: #A087BC;
  text-align: center;
  margin-bottom: 30px;
}

.despre p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 15px;
}


footer {
  background-color: #A087BC;
  color: #FFFFFF;
  padding: 10px;
  width: auto;
  bottom: 0;
  margin-top: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: left;
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #E4E9EF;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

h2,
h1 {
  color: #A087BC;
}

h4 {
  color: #FFFFFF;
}

p {
  color: #A087BC;
}

.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 100%;
  padding: 50px;
}

.form-group {
  margin-bottom: 30px;
}

.imagine4 {
  width: 30%;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #A087BC;
}

input,
textarea {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  box-sizing: border-box;
  color: #A087BC;
  border: 1px solid #A087BC;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #A087BC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


@media screen and (max-width: 600px) {
  .despre {
    padding: 18px;
  }

  h1,
  h2 {
    font-size: 18px;
  }

  .despre p {
    font-size: 1em;
  }

  .image-container {
    flex-direction: column;
  }

  li {
    font-size: 10px;
  }
}

.imagine1,
.imagine2,
.imagine3 {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin-bottom: 10px;
}


@media (min-width: 767px) {

  .imagine1,
  .imagine2,
  .imagine3,
  .imagine4 {
    max-width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .content {
    flex-direction: column;
  }

  .column {
    margin-bottom: 15px;
  }

  .container {
    font-size: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .col-md-4 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 5px;
  }

  .social-icons li {
    margin-right: 5px;
  }
}

/* login */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.content h2 {
  font-weight: 300;
  font-size: 2.6em;
  margin: 0.2em 0 0.1em;
  align-items: center;
}

.form-element {
  margin: 1.6em 0;
}

.form-stack {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #a087bc;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
  padding: 8px 1px;
  margin-top: 0.1em;
  border-bottom: 1px solid #d9cce8;
  color: #d9cce8;
}

button {
  padding: 0.8em 1.2em;
  margin: 0 10px 0 0;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.6px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  transition: all 0.25s;

}

.content h2 {
  font-weight: 300;
  font-size: 2.6em;
  margin: 0.2em 0 0.1em;
}


button.signup {
  background: #a087bc;
  color: #FFFFFF;
}

button.login {
  background: #a087bc;
}

button.off {
  background: none;
  box-shadow: none;
  margin: 0;
  color: #fff;
}

button.off.signup {
  background: #a087bc;
}

button.off.login {
  background: #FFF468;
  color: #000;
}

button:focus,
button:active,
button:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.form-element {
  margin-bottom: 10px;
  color: #A087BC;
}

.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #A087BC;
}

.container-dashboard {
  background-color: #E4E9EF;
  padding: 20px;
}

.container-profil,
.container-statistici,
.container-program-lucru,
.container-notificari,
.container-calendar-extern {
  background-color: #FFF;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.imagine-profil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.buton {
  padding: 10px 15px; 
  background-color: #A087BC; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.container-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.header-calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.container-zile-saptamana,
.container-zile-luna {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.zi-saptamana,
.zi-calendar {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.zi-saptamana {
  background-color: #EFEFEF;
}

.zi-calendar.gol {
  background-color: #F5F5F5;
}

.container-dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #E4E9EF;
}

.container-profil,
.container-statistici,
.container-program-lucru,
.container-notificari,
.container-calendar-extern {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.container-profil {
  display: flex;
  align-items: center;
  gap: 15px;
}

.imagine-profil {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.modal-content {
  background: #E4E9EF;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}


.zi-calendar.cu-eveniment {
  background-color: #50c55a;
  color: white;

}

.container-profil,
.container-statistici,
.container-program-lucru,
.container-notificari,
.container-calendar-extern {
  background-color: #FFF;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.container-notificari,
.container-intalniri {
  background-color: #FFF;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

  .container-notificari,
  .container-intalniri {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }

  .tabel-angajati {
    max-width: 100%;
  }

  .container-dashboard {
    margin: 0 -20px;
    padding: 10px;
  }
}

.container-profil img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
}

.modal form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
}

.chart-container {
  width: 300px;
  height: 300px;
  margin: auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}



.tabel {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabel.column th,
.tabel.column td {
  padding: 10px 15px; 
  background-color: #FFFFFF; 
  border-bottom: 1px solid #ddd;
  text-align: left;
}


.tabel.column th {
  background-color: #A087BC;
  color: white;
  padding: 12px 15px;
  text-align: left;
}


.tabel td {
  border-bottom: 1px solid #ddd;
  background-color: white;
  color: #333;
}


.tabel button {
  background-color: #9b82b1;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabel button:hover {
  background-color: #8c73a3;
}

.rapoarte-cursuri {
  background-color: #FFF;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.card-curs {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.lista-cursuri {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


@media (max-width: 1024px) {

  .tabel,
  .tabel th,
  .tabel td {
    padding: 6px;
    font-size: 0.8rem;
  }

  .tabel button {
    padding: 8px 2px;
    font-size: 0.5rem;
  }
}

@media (max-width: 768px) {

  .tabel th:nth-child(3),
  .tabel td:nth-child(3),
  .tabel th:nth-child(4),
  .tabel td:nth-child(4),
  .tabel th:nth-child(5),
  .tabel td:nth-child(5) {
    display: none;
  }
}