/* Contact.css */

.contact-page {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #E4E9EF;
}

.contact {
  background-color: #A087BC;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
}

.contact h2 {
  color: #FFF;
  margin-bottom: 10px;
}

.contact p {
  margin: 10px 0;
}

.imagine4 {
  width: 100%;
  height: auto;
  margin: 20px 0;
  object-fit: cover;
}

.image-container {
  margin: 20px;
}

.form-group {
  padding: 25px;
  background-color: #E4E9EF;
  border-radius: 5px;
  margin: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #A087BC;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  color: #A087BC;
}

button1 {
  background-color: #A087BC;
  color: #FFF;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}

.contact-details {
  background-color: #A087BC;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: #FFF;
  text-align: center;
}

.contact-details p {
  margin: 10px 0;
}
